{% extends 'base.html.twig' %}

{% block title %}
	{{ thread.title }}
{% endblock %}

{% block body %}
	<div class="thread">
		<h1>{{ thread.title }}</h1>
		{% if app.user and (thread.getUserId() == app.user or is_granted('ROLE_ADMIN')) %}
			<a href="{{ path('app_thread_update', {'id': thread.id}) }}">Modifier le thread</a>
		{% endif %}
		{% if app.user and (thread.getUserId() == app.user or is_granted('ROLE_ADMIN')) %}
			<a href="{{ path('app_thread_delete', {'id': thread.id}) }}">Supprimer le thread</a>
		{% endif %}

		<p class="thread_status">{{ thread.status }}</p>
		<h2>
			{% for category in thread.category %}
				<span class="thread_title">{{ category.title }}</span>
			{% endfor %}
		</h2>
		<p class="thread_user">{{ thread.getUserId().username }}</p>
		<h3>Réponses :</h3>

		{% for response in thread.responses %}
			<div class="thread_response">
				<p>Par :
					{{ response.getUserId().username }}</p>
				<p>{{ response.body }}</p>
			</div>
		{% endfor %}

		{% if app.user %}
			<div class="thread-create">
				<p>Poster votre réponse</p>
				{{ form_start(responseform) }}
				<div class="form-group">
					{{ form_label(responseform.body, 'Body') }}
					{{ form_widget(responseform.body, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(responseform.body) }}
				</div>
				<button type="submit" class="btn btn-primary">Poster votre réponse</button>
				{{ form_end(responseform) }}
			</div>
		{% endif %}

		<a href="{{ path('app_thread') }}">Retour sur la liste des threads</a>
	</div>

	{# Section de débogage #}
	<div class="debugBox">
		<h2>Debug</h2>
		<pre>{{ dump(thread) }}</pre>
	</div>
{% endblock %}
